<div class="pb-13 pt-lg-0 pt-5">
  <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Sign Up for a Chattrful Account</h3>

  <span class="text-muted font-weight-boldest font-size-h4">Have an account?
  <%= link_to "Sign In", new_session_path(resource_name), class: "text-primary font-weight-bolder font-size-h4" %>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.input :name, input_html: { autofocus: true, class: "form-control-solid h-auto p-5 rounded-lg" }, label_html: { class: "font-size-h6 font-weight-bolder text-dark" } %>
  <%= f.input :email, input_html: { autocomplete: "email", class: "form-control-solid h-auto p-5 rounded-lg" }, label_html: { class: "font-size-h6 font-weight-bolder text-dark" } %>
  <%= f.input :password, input_html: { autocomplete: "new-password", class: "form-control-solid h-auto p-5 rounded-lg" }, label_html: { class: "font-size-h6 font-weight-bolder text-dark" } %>
  <%= f.input :password_confirmation, input_html: { autocomplete: "new-password", class: "form-control-solid h-auto p-5 rounded-lg" }, label_html: { class: "font-size-h6 font-weight-bolder text-dark" } %>

  <%= hidden_field_tag :time_zone_offset %>
  <%= f.submit "Sign Up", class: "btn btn-primary font-weight-bolder btn-block font-size-h6 px-8 py-4 my-3 mr-3" %>
<% end %>


