<% conversations.each do |conversation| %>
  <%= link_to conversation, class: "d-flex align-items-center justify-content-between p-3" do %>
    <div class="d-flex align-items-center">
      <div class="d-flex flex-column">
        <span href="#" class="text-dark-75 font-weight-bold font-size-lg">
          <%= conversation.starter.name %>
        </span>
        <span class="text-muted font-weight-bold font-size-sm">
          <%= conversation.last_message_sender.name %>: <%= conversation.last_message_content %>
        </span>
      </div>
    </div>
    <div class="d-flex flex-column align-items-end">
      <span class="text-muted font-weight-bold font-size-sm">
        <%= conversation_latest_timestamp(timestamp: conversation.last_message_received_at, time_zone: current_user.time_zone) %>
      </span>
    </div>
  <% end %>
<% end %>
