<div class="chat-widget" data-conversation-id="<%= @conversation.encrypted_id %>">
  <header class="chat-widget__header">
    <div class="chat-widget__header-details">
      <div class="text-dark-75 font-weight-bold font-size-h5">Matt Pears</div>
      <div>
        <span class="label label-dot label-success"></span>
        <span class="font-weight-bold text-muted font-size-sm">Active</span>
      </div>
    </div>
    <div>
      <button tabindex="-1" type="button" class="btn-icon btn-icon--close">
        <svg class="icon-svg" xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-l</title><line x1='368' y1='368' x2='144' y2='144' style='fill:none;stroke-linecap:round;stroke-linejoin:round;'/><line x1='368' y1='144' x2='144' y2='368' style='fill:none;stroke-linecap:round;stroke-linejoin:round;'/></svg>
      </button>
    </div>
  </header>

  <div class="chat-messages js-chat-messages">
    <% @messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <footer class="chat-widget__footer">
    <div class="emojis">

    </div>

    <%= form_with model: Message.new, url: ajax_conversation_messages_path(@conversation, format: :js), html: { class: 'js-chatbox-form chatbox' }, local: false do |f| %>
      <%= hidden_field_tag :timestamp, nil, class: 'js-timestamp-input' %>

      <button tabindex="-1" type="button" class="js-emoji-trigger btn-icon btn-icon--smiley">
        <svg class="icon-svg" xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-i</title><circle cx='184' cy='232' r='24'/><path d='M256.05,384c-45.42,0-83.62-29.53-95.71-69.83A8,8,0,0,1,168.16,304H343.85a8,8,0,0,1,7.82,10.17C339.68,354.47,301.47,384,256.05,384Z'/><circle cx='328' cy='232' r='24'/><circle cx='256' cy='256' r='208'/></svg>
      </button>

      <div class="chatbox__input-wrapper">
        <%= f.text_area :content, class: 'js-chatbox chatbox__input', rows: 1, data: { selection_start: 0 }, placeholder: 'Type a message', tabindex: '-1' %>
      </div>

      <button tabindex="2" type="button" class="js-chatbox-submit btn-icon btn-icon--send">
        <svg class="icon-svg" xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-q</title><path d='M470.3,271.15,43.16,447.31a7.83,7.83,0,0,1-11.16-7V327a8,8,0,0,1,6.51-7.86l247.62-47c17.36-3.29,17.36-28.15,0-31.44l-247.63-47a8,8,0,0,1-6.5-7.85V72.59c0-5.74,5.88-10.26,11.16-8L470.3,241.76A16,16,0,0,1,470.3,271.15Z'/></svg>
      </button>
    <% end %>
  </footer>
</div>
