<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
  <head>
    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <title>Chattrful</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <link rel="canonical" href="<%= request.original_url %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'chat_widget', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'chat_widget', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
