<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
  <head>
    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <title>Chattrful</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' >
    <meta name="description" content="" />
    <link rel="canonical" href="<%= request.original_url %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body id="kt_body"
        class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed
          aside-enabled aside-fixed aside-minimize-hoverable page-loading devise"
    >

    <div class="d-flex flex-column flex-root">
      <div class="d-flex flex-column flex-lg-row flex-column-fluid bg-white">
        <div class="devise__aside d-flex flex-column flex-row-auto">
          <!--begin::Aside Top-->
          <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
            <!--begin::Aside header-->
            <a href="#" class="text-center mb-10">
              <%= image_tag 'logo.png', class: 'max-h-70px' %>
            </a>
            <h3 class="font-weight-bolder text-center font-size-h4 font-size-h1-lg">Discover Amazing Live Chat</h3>
          </div>
          <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center bgi-size-contain" style="background-image: url(<%= image_path('devise/login.png') %>)"></div>
        </div>
        <!--begin::Content-->
        <div class="devise__content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
          <div class="d-flex flex-column-fluid flex-center">
            <div class="devise__form-container">
              <%= yield %>
            </div>
          </div>

          <%= render 'layouts/shared/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
